<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>bs</display-name>
  <context-param>
  	<description>全站编码配置</description>
  		<param-name>encode</param-name>
  		<param-value>utf-8</param-value>
  </context-param>
  <!-- 全站编码注册开始-->
  <filter>
  	<filter-name>EncodeFilter</filter-name>
  	<filter-class>com.bs.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>EncodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   <!-- 全站编码注册结束-->
   <!-- 登录servlet  开始-->
    <servlet>
    <description>登录服务器</description>
    <display-name>登录服务器</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bs.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <!-- 登录servlet  结束-->
   <!-- 注销servlet  开始-->
    <servlet>
    <description>注销</description>
    <display-name>注销</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bs.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <!-- 注销servlet  结束-->
   <servlet>
    <description>用户查询</description>
    <display-name>用户查询</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.bs.web.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>首页</description>
    <display-name>首页</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.bs.web.index.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>添加用户</description>
    <display-name>添加用户</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.bs.web.user.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除用户</description>
    <display-name>删除用户</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>com.bs.web.user.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改用户</description>
    <display-name>修改用户</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.bs.web.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改密码</description>
    <display-name>修改密码</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.bs.web.user.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询公司简介</description>
    <display-name>查询公司简介</display-name>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.bs.web.about.AboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/AboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改公司简介</description>
    <display-name>修改公司简介</display-name>
    <servlet-name>UpdateAboutServlet</servlet-name>
    <servlet-class>com.bs.web.about.UpdateAboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAboutServlet</servlet-name>
    <url-pattern>/UpdateAboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除公司简介</description>
    <display-name>删除公司简介</display-name>
    <servlet-name>DelAboutServlet</servlet-name>
    <servlet-class>com.bs.web.about.DelAboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAboutServlet</servlet-name>
    <url-pattern>/DelAboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加公司简介</description>
    <display-name>添加公司简介</display-name>
    <servlet-name>AddAboutServlet</servlet-name>
    <servlet-class>com.bs.web.about.AddAboutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAboutServlet</servlet-name>
    <url-pattern>/AddAboutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询新闻分类</description>
    <display-name>查询新闻分类</display-name>
    <servlet-name>NewsCategoryServlet</servlet-name>
    <servlet-class>com.bs.web.news.category.NewsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsCategoryServlet</servlet-name>
    <url-pattern>/NewsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改新闻分类</description>
    <display-name>修改新闻分类</display-name>
    <servlet-name>UpdateNewsCategoryServlet</servlet-name>
    <servlet-class>com.bs.web.news.category.UpdateNewsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsCategoryServlet</servlet-name>
    <url-pattern>/UpdateNewsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除新闻分类</description>
    <display-name>删除新闻分类</display-name>
    <servlet-name>DelNewsCategoryServlet</servlet-name>
    <servlet-class>com.bs.web.news.category.DelNewsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNewsCategoryServlet</servlet-name>
    <url-pattern>/DelNewsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加新闻分类</description>
    <display-name>添加新闻分类</display-name>
    <servlet-name>AddNewsCategoryServlet</servlet-name>
    <servlet-class>com.bs.web.news.category.AddNewsCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsCategoryServlet</servlet-name>
    <url-pattern>/AddNewsCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询新闻</description>
    <display-name>查询新闻</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.bs.web.news.detail.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改新闻</description>
    <display-name>修改新闻</display-name>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <servlet-class>com.bs.web.news.detail.UpdateNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <url-pattern>/UpdateNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除新闻</description>
    <display-name>删除新闻</display-name>
    <servlet-name>DelNewsServlet</servlet-name>
    <servlet-class>com.bs.web.news.detail.DelNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNewsServlet</servlet-name>
    <url-pattern>/DelNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加新闻</description>
    <display-name>添加新闻</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.bs.web.news.detail.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/AddNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>新闻详情</description>
    <display-name>新闻详情</display-name>
    <servlet-name>NewsDetailServlet</servlet-name>
    <servlet-class>com.bs.web.news.detail.NewsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDetailServlet</servlet-name>
    <url-pattern>/NewsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询服务项目</description>
    <display-name>查询服务项目</display-name>
    <servlet-name>FwxmServlet</servlet-name>
    <servlet-class>com.bs.web.fwxm.FwxmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FwxmServlet</servlet-name>
    <url-pattern>/FwxmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改服务项目</description>
    <display-name>修改服务项目</display-name>
    <servlet-name>UpdateFwxmServlet</servlet-name>
    <servlet-class>com.bs.web.fwxm.UpdateFwxmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFwxmServlet</servlet-name>
    <url-pattern>/UpdateFwxmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除服务项目</description>
    <display-name>删除服务项目</display-name>
    <servlet-name>DelFwxmServlet</servlet-name>
    <servlet-class>com.bs.web.fwxm.DelFwxmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFwxmServlet</servlet-name>
    <url-pattern>/DelFwxmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加服务项目</description>
    <display-name>添加服务项目</display-name>
    <servlet-name>AddFwxmServlet</servlet-name>
    <servlet-class>com.bs.web.fwxm.AddFwxmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFwxmServlet</servlet-name>
    <url-pattern>/AddFwxmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>展示分类</description>
    <display-name>展示分类</display-name>
    <servlet-name>CaseShowServlet</servlet-name>
    <servlet-class>com.bs.web.caseshow.CaseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseShowServlet</servlet-name>
    <url-pattern>/CaseShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改展示分类</description>
    <display-name>修改展示分类</display-name>
    <servlet-name>UpdateCaseShowServlet</servlet-name>
    <servlet-class>com.bs.web.caseshow.UpdateCaseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCaseShowServlet</servlet-name>
    <url-pattern>/UpdateCaseShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除展示分类</description>
    <display-name>删除展示分类</display-name>
    <servlet-name>DelCaseShowServlet</servlet-name>
    <servlet-class>com.bs.web.caseshow.DelCaseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCaseShowServlet</servlet-name>
    <url-pattern>/DelCaseShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加展示分类</description>
    <display-name>添加展示分类</display-name>
    <servlet-name>AddCaseShowServlet</servlet-name>
    <servlet-class>com.bs.web.caseshow.AddCaseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCaseShowServlet</servlet-name>
    <url-pattern>/AddCaseShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询案例</description>
    <display-name>查询案例</display-name>
    <servlet-name>CaseServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.CaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseServlet</servlet-name>
    <url-pattern>/CaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改案例</description>
    <display-name>修改案例</display-name>
    <servlet-name>UpdateCaseServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.UpdateCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCaseServlet</servlet-name>
    <url-pattern>/UpdateCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传图片</description>
    <display-name>上传图片</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除案例</description>
    <display-name>删除案例</display-name>
    <servlet-name>DelCaseServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.DelCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCaseServlet</servlet-name>
    <url-pattern>/DelCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加案例</description>
    <display-name>添加案例</display-name>
    <servlet-name>AddCaseServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.AddCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCaseServlet</servlet-name>
    <url-pattern>/AddCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>案例详情</description>
    <display-name>案例详情</display-name>
    <servlet-name>CaseDetailServlet</servlet-name>
    <servlet-class>com.bs.web.casedetail.CaseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseDetailServlet</servlet-name>
    <url-pattern>/CaseDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>设备分类</description>
    <display-name>设备分类</display-name>
    <servlet-name>DeviceShowServlet</servlet-name>
    <servlet-class>com.bs.web.deviceshow.DeviceShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceShowServlet</servlet-name>
    <url-pattern>/DeviceShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改设备分类</description>
    <display-name>修改设备分类</display-name>
    <servlet-name>UpdateDeviceShowServlet</servlet-name>
    <servlet-class>com.bs.web.deviceshow.UpdateDeviceShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeviceShowServlet</servlet-name>
    <url-pattern>/UpdateDeviceShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除设备分类</description>
    <display-name>删除设备分类</display-name>
    <servlet-name>DelDeviceShowServlet</servlet-name>
    <servlet-class>com.bs.web.deviceshow.DelDeviceShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDeviceShowServlet</servlet-name>
    <url-pattern>/DelDeviceShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加设备分类</description>
    <display-name>添加设备分类</display-name>
    <servlet-name>AddDeviceShowServlet</servlet-name>
    <servlet-class>com.bs.web.deviceshow.AddDeviceShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeviceShowServlet</servlet-name>
    <url-pattern>/AddDeviceShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询设备</description>
    <display-name>查询设备</display-name>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.DeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/DeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改设备</description>
    <display-name>修改设备</display-name>
    <servlet-name>UpdateDeviceServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.UpdateDeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeviceServlet</servlet-name>
    <url-pattern>/UpdateDeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除设备</description>
    <display-name>删除设备</display-name>
    <servlet-name>DelDeviceServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.DelDeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDeviceServlet</servlet-name>
    <url-pattern>/DelDeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加设备</description>
    <display-name>添加设备</display-name>
    <servlet-name>AddDeviceServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.AddDeviceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeviceServlet</servlet-name>
    <url-pattern>/AddDeviceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>上传图片</description>
    <display-name>上传图片</display-name>
    <servlet-name>UploadImgServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.UploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImgServlet</servlet-name>
    <url-pattern>/UploadImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>设备详情</description>
    <display-name>设备详情</display-name>
    <servlet-name>DeviceDetailServlet</servlet-name>
    <servlet-class>com.bs.web.devicedetail.DeviceDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceDetailServlet</servlet-name>
    <url-pattern>/DeviceDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加留言</description>
    <display-name>添加留言</display-name>
    <servlet-name>AddLyServlet</servlet-name>
    <servlet-class>com.bs.web.ly.AddLyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLyServlet</servlet-name>
    <url-pattern>/AddLyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>查询留言</description>
    <display-name>查询留言</display-name>
    <servlet-name>LyServlet</servlet-name>
    <servlet-class>com.bs.web.ly.LyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LyServlet</servlet-name>
    <url-pattern>/LyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>友情链接</description>
    <display-name>友情链接</display-name>
    <servlet-name>LinkServlet</servlet-name>
    <servlet-class>com.bs.web.link.LinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkServlet</servlet-name>
    <url-pattern>/LinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改友情链接</description>
    <display-name>修改友情链接</display-name>
    <servlet-name>UpdateLinkServlet</servlet-name>
    <servlet-class>com.bs.web.link.UpdateLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLinkServlet</servlet-name>
    <url-pattern>/UpdateLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>删除友情链接</description>
    <display-name>删除友情链接</display-name>
    <servlet-name>DelLinkServlet</servlet-name>
    <servlet-class>com.bs.web.link.DelLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelLinkServlet</servlet-name>
    <url-pattern>/DelLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加友情链接</description>
    <display-name>添加友情链接</display-name>
    <servlet-name>AddLinkServlet</servlet-name>
    <servlet-class>com.bs.web.link.AddLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLinkServlet</servlet-name>
    <url-pattern>/AddLinkServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>